.gradient_head
{
             background: #cfcbae;
             background: linear-gradient(to top, #fefcea, #cfcbae);
             color: #7d7861;
             width:100%;
             border-radius:10px;
            }
            .gradient_main {
             background: #e0e0de;
             background: linear-gradient(to bottom left, #fefcea, #e0e0de);
             color: #7d7861;
             width:80%;
             border-radius:10px;
            }
            .gradient_menu {
             background: #e0e0de;
             background: linear-gradient(to top right, #fefcea, #e0e0de);
             color: #7d7861;
             text-align: left;
             width:20%;
             border-radius:10px;
            }
            .gradient_adw {
             background: #cfcbae;
             background: linear-gradient(to left, #fefcea, #cfcbae);
             color: #ffd500;
             width:20%;
             border-radius:10px;
            }
            .gradient_footer {
             background: #cfcbae;
             background: linear-gradient(to bottom, #fefcea, #cfcbae);
             color: #0a3496;
             width:100%;
             border-radius:10px;
            }